@font-face {
  font-family: BirdsOfParadise;
  src: url("../fonts/BirdsOfParadise.ttf"); }
@font-face {
  font-family: Titulo;
  src: url("../fonts/Constantine.ttf"); }
* {
  font-family: "Arial";
  margin: 0;
  padding: 0;
  text-decoration: none; }

h1 {
  color: white;
  font-family: Titulo;
  font-size: 60px;
  letter-spacing: 5px;
  text-align: center; }

h4 {
  text-align: center;
  color: white;
  margin-right: 120px; }

a {
  text-decoration: none;
  font-family: 'BirdsOfParadise'; }
  a:hover {
    color: black;
    text-shadow: none; }
  a:active {
    color: black; }
  a:link {
    color: black; }
  a:visited {
    color: black; }

.adminedit {
  background-color: #D8EEF8;
  border: solid 1px white;
  width: 100px;
  height: 40px;
  font-weight: bold;
  font-family: arial;
  padding: 10px 30px; }

.adminedit a {
  font-family: arial; }

.admindel {
  font-size: 18px;
  margin: 10px 15px;
  display: inline-block;
  cursor: pointer; }

hr {
  margin-top: 40px; }

input[type='text'] {
  font-size: 12px;
  border: 1px solid #ddd; }

input[type='password'] {
  font-size: 12px;
  border: 1px solid #ddd; }

textarea {
  font-size: 12px;
  border: 1px solid #ddd; }

input[type='submit'] {
  background-color: #D8EEF8;
  border: solid 1px white;
  width: 100px;
  height: 40px;
  font-weight: bold;
  cursor: pointer; }

.bloquefecha {
  background-color: #27a8e3;
  border: 1px solid #c7c3fb;
  color: white;
  float: right;
  font-family: 'Trebuchet MS';
  font-size: 17px;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  text-shadow: 1px 1px 1px #a7a5a5;
  width: 45px; }

.addcomment {
  border: 1px solid #ddd;
  font-size: 14px;
  padding: 20px;
  border-radius: 5px; }

.itemcomment {
  text-align: center;
  font-weight: bold; }

.itemcomment2 {
  margin-bottom: 10px; }

.comentario {
  background-color: #F5F7F8;
  font-size: 12px;
  padding: 20px;
  margin: 30px 0;
  line-height: 18px; }

.logout {
  float: right;
  padding-right: 40px; }

.logout a {
  font-size: 25px;
  color: white; }

.loginform {
  border: 1px solid #eee;
  font-size: 14px;
  margin: 40px auto;
  padding: 20px 0;
  text-align: center;
  width: 400px; }

.usuario {
  margin: 10px 0; }

.contrasenha {
  margin: 10px 0; }

.formcreate {
  text-align: center; }

.formcreate p {
  margin: 10px 0; }

.redes {
  margin-left: 100px; }

.nickcomentario {
  float: right;
  margin-top: 25px; }

header {
  background-color: #111111;
  min-height: 60px;
  padding: 20px; }

footer {
  background-color: #111111;
  height: 30px;
  padding: 20px; }

.txtfooter {
  color: white;
  font-family: 'Titulo';
  font-size: 25px;
  margin-left: 40px; }

article {
  padding: 40px 60px; }

.fechaPost {
  border-bottom: 1px dotted black;
  margin-bottom: 40px; }

.tituloPost {
  font-size: 50px;
  text-decoration: none;
  text-shadow: 1px 1px 1px #CDCCCC; }

.tituloPostShow {
  font-family: 'BirdsOfParadise';
  font-size: 50px; }

.contenidoPost {
  margin-top: 20px;
  margin-bottom: 20px; }

.masPost {
  font-size: 25px;
  text-align: center;
  text-shadow: 1px 1px 1px #CDCCCC; }

section {
  display: inline-block;
  padding: 40px 20px 40px 60px;
  width: 90%; }

aside {
  border-left: dotted 1px #222222;
  display: inline-block;
  padding-left: 20px;
  padding-top: 30px;
  vertical-align: top;
  width: 15%;
  height: 100%;
  margin-top: 80px; }

/*# sourceMappingURL=style.css.map */
